.form {
    width: 175%;
    max-width: 875px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.input,
.select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #ff7f50; /* Coral color for the button */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e56740; /* A darker shade of orange for hover state */
}

.messages {
    margin-bottom: 20px;
}

.success,
.error {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.nameGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputGroup {
    flex: 1;
    margin-right: 10px;
}

.inputGroup:last-child {
    margin-right: 0;
}

.subLabel {
    color: #757575; /* A typical grey text color */
    font-size: 12px; /* Smaller font size for subtitle */
    text-align: left;
    margin-top: 4px;
}

.required {
    color: #ff7f50; /* Coral color for the asterisk */
    margin-left: 4px;
}


.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formTitle {
    text-align: center;
    margin: 20px 0;
}

.formTitle h1 {
    font-size: 2.5rem; /* Adjust the size as needed */
    font-weight: bold;
    color: #333; /* Or any color you prefer */
    margin-bottom: 30px; /* Space between title and form */
}

.nameGroup {
    flex-direction: column;
}

.inputGroup {
    margin-right: 0;
}

.addButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ff7f50; /* Match the theme color */
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    margin: 20px 0;
  }
  
  .addButton:focus {
    outline: none;
  }
  
  .addButton:before {
    content: '+';
  }
  
  .memberInput {
    margin-bottom: 15px;
  }
  
  .note {
    font-size: 12px;
    color: #757575;
    font-style: italic;
    margin-top: 10px;
  }

  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeButton:hover,
  .closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  